<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs file</title>
    <link rel="stylesheet" href="../stylesheets/style.css">nk
</head>
<body>
    <h1>Introduction</h1>
    <p>My name is Ayesha. I am currenctly working as UI/UX designer intern in Octalcode while i am persuring bachleor's in Software Engineering. 
    I am also working as frontend developer at Social Swirl. my core skills are HTML,CSS, BOOTSRTAP, TAILWIND CSS, REACT, JAVASCRIPT, ES6JS and currently
    i am learning node js and express js.</p>
    <button>Read More</button>


    
</body>
</html>